html {
height: 100%;
background: #1f1f1f;
background: -moz-linear-gradient(top, #1f1f1f 30%, #545454 100%);
background: -webkit-gradient(left top, left bottom, color-stop(30%, #1f1f1f), color-stop(100%, #545454));
background: -webkit-linear-gradient(top, #1f1f1f 30%, #545454 100%);
background: -o-linear-gradient(top, #1f1f1f 30%, #545454 100%);
background: -ms-linear-gradient(top, #1f1f1f 30%, #545454 100%);
background: linear-gradient(to bottom, #1f1f1f 30%, #545454 100%);
}

#ace_input {
display: none;
}
#container {
width: 550px;
margin-left: auto;
margin-right: auto;
margin-top: 200px;
text-align: center;
}

label {
margin: 30px;
}


label, input, button, p {
display: block;
color: #6E6E6E;
text-shadow: #000 0px 1px 5px;
margin-left: auto;
margin-right: auto;
}

h1, p {
color: #fff;
text-shadow: #000 0px 1px 5px;
margin-left: auto;
margin-right: auto;
margin-bottom: 0;
}

body {
font-family: sans-serif;
}


input {
background-color: #1f1f1f;
padding: 12px 20px;
width: 68%;
margin-bottom: 30px;
font-size: 18px;
border: 1px solid #000;
border-radius: 5px;
box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
}

button:hover {
opacity: 1;
}

button {
float: left;
color: #fff;    
font-size: 18px;
width: 46%;
margin: 0 10px;
cursor: pointer;
padding: 10px;
opacity: 0.7;
background: #28d2de;
background: -moz-linear-gradient(top, #28d2de 0%, #1a878f 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #28d2de), color-stop(100%, #1a878f));
background: -webkit-linear-gradient(top, #28d2de 0%, #1a878f 100%);
background: -o-linear-gradient(top, #28d2de 0%, #1a878f 100%);
background: -ms-linear-gradient(top, #28d2de 0%, #1a878f 100%);
background: linear-gradient(to bottom, #28d2de 0%, #1a878f 100%);
border-radius: 5px;
border: 1px solid #000;
box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

#php_submit:active, #js_submit:active {
margin-top: 2px;
}

input:focus, button:focus {
outline: none;
}

p {
margin-top: 40px;
}
#score {
padding-top: 50px;
}
